<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Zurück-Button -->
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>

    <ion-title>Wissen in Leipzig</ion-title>

    <ion-buttons slot="end"></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="title-container">
    <h1>Lange Nacht der Wissenschaften in Leipzig</h1>

    <div class="text">
      <h2>Die nächste "Lange Nacht der Wissenschaften": 2027</h2>
      <p>Test</p>
    </div>
  </div>
</ion-content>
