ion-card-header {
    background-color: #f0f0f0;
  }
  
  ion-card-title,
  ion-card-subtitle {
    color: #6748B1;
  }
  
  ion-content {
    --background: #F5F3F5;
  }
  
  ion-card-content {
    background-color: #ffffff;
    color: #4B3991 !important;
  }

  ion-toolbar {
    --background: #6748B1;
  }
  
  ion-tab-bar {
    --background: #6748B1 !important;
  }

  