<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <!-- Links: Info-Icon -->
      <ion-buttons slot="start">
        <ion-button aria-label="Info">
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title>Meine Nacht</ion-title>

      <!-- Rechts leer lassen (optional) -->
      <ion-buttons slot="end"></ion-buttons>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
